{% load static %}

<html>
	<head>
		<meta charset="utf-8">
		<title>Login Form</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">


		<!-- STYLE CSS -->
		<link rel="stylesheet" href="{% static 'css/main.css' %}">
	</head>

    <style>
        .auth .inner {
            background: url('{% static 'images/auth/registration-form-2.jpg' %}');
        }
    </style>

	<body>
        <div class="auth">

            <a href="{% url 'home' %}" class="back-btn">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><path d="M9.4 233.4c-12.5 12.5-12.5 32.8 0 45.3l192 192c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L77.3 256 246.6 86.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-192 192z"/></svg>
            </a>

            <div class="wrapper" style="background-image: url('{% static 'images/auth/bg-registration-form-2.jpg' %}');">
                <div class="inner">
                    <form action="{% url 'login' %}" method="POST">
                        {% csrf_token %}
                        <h3>Login In Form</h3>
                        
                        <div class="error-messages">
                            {% for field, errors in form.errors.items %}
                                {% for error in errors %}
                                    <p class="error-item">{{ error }}</p>
                                {% endfor %}
                            {% endfor %}
                        </div>
                    
                        <div class="form-wrapper">
                            <label for="">Email</label>
                            {{ form.email }}
                        </div>
                        <div class="form-wrapper">
                            <label for="">Password</label>
                            {{ form.password }}
                        </div>

                        <button>Login Now</button>
                    </form>
                </div>
            </div>

        </div>

	</body>
</html>