<!-- LATEST PURCHASES-->
{% load static %}
<div class="inner-window">
    <h3 class="window-text">Latest Purchase <span class="media-colored-text">History</span></h3>

    <!-- ROW ITEM -->
    <div class="row-list">
        <div class="image">
            <img src="{% static 'images/games/fortnite.jpg' %}" />
        </div>

        <div class='col'>
            <p class="title">Fortnite</p>
            <p>Epic Games</p>
        </div>

        <div class='col'>
            <p class="title">Date Purchased</p>
            <p>24/08/2023</p>
        </div>

        <div class='col'>
            <p class="title">Price</p>
            <p>120USD</p>
        </div>

        <div>
            <a href="#" class="secondary-button">Check</a>
        </div>

    </div>
    <!-- END ROW ITEM -->

    <div class="row-list">
        <div class="image">
            <img src="{% static 'images/games/csgo.jpg' %}" />
        </div>

        <div class='col'>
            <p class="title">CSGO2</p>
            <p>Steam</p>
        </div>

        <div class='col'>
            <p class="title">Date Purchased</p>
            <p>10/07/2024</p>
        </div>


        <div class='col'>
            <p class="title">Price</p>
            <p>82USD</p>
        </div>

        <div>
            <a href="#" class="secondary-button">Check</a>
        </div>

    </div>

</div>
<!-- END-->